<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Boilerplate Site</title>
    {% block stylesheets %}
        <link href="{{ asset('static/css/site.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
    {% block body %}
        {# get root node if there is no document defined (for pages which are routed directly through static route) #}
        {% if not document is defined or not document %}
            {% set document = pimcore_document(1) %}
        {% endif %}
        {# get the document which should be used to start in navigation | default home #}
        {% set navStartNode = document.getProperty('navigationRoot') %}

        {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
            {% set navStartNode = pimcore_document(1) %}
        {% endif %}

        {% set mainNavigation = pimcore_build_nav({
            active: document,
            root: navStartNode
        }) %}

        <div class="header">
            {% block header %}
                <header class="main-header">
                    <div class="container">
                        <h1 class="mh-logo">
                            <a href="/" class="logo">
                                <img id="logo" width="170" height="95" alt="Bolierplate Logo" src="{{ asset('/static/images/boilerplate-logo.png') }}" alt="Boilerplate"/>
                            </a>
                        </h1>
                        <nav class="main-nav">
                            {% block sidebar %}
                                {{ pimcore_render_nav(mainNavigation) }}
                            {% endblock %}
                        </nav>
                    </div>
                    <br>
                </header>
            {% endblock %}
        </div>

        <div id="content" class="content">
            {% block content %}
                This is a test
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>